@using LInksync_Cold_Storage_Wallet.Services.Implementation
@namespace SYNCWallet.Components.Navigation


 
<div class="row" style="margin-top: 15px;">
    <div class="col-lg-12" >
        <div class="card CardFluent">
            <div class="card-header TokenTimeline">
                <div class="PromotedAssetContainer">
                    @if (_Communication.LoadedTokens != null)
                    {
                        foreach (var tokenData in @_Communication.LoadedTokens)
                        {
                            @if (tokenData.Contracts.Where(x => x.CurrentPrice != 0) != null)
                            {
                                var listedWithPrice = tokenData.Contracts.Where(x => x.CurrentPrice != 0).ToList();
                                @foreach (var contract in @listedWithPrice)
                                {
                                    <div class="Promoteditem">
                                        <img src="@BindLogo(@tokenData.Logo)" class="PLogoSize"/>
                                        <span>@tokenData.Name</span>
                                        <span>@Utilities.TruncateDecimals(@contract.CurrentPrice)</span>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="row" style="display: flex;justify-content: center;">
                    <img class="TokenLogo" src="@CurrentToken.Logo"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <button type="button" class="btn waves-effect waves-light btn-info" @onclick="ReturnToLanding">Exit</button>
</div>