@page "/Landing"
@using NFTLock.Data
@using Nethereum.Contracts
@using Nethereum.Web3
@using Newtonsoft.Json
@using SYNCWallet.Data
@using SYNCWallet.Models
@using System.Security.Cryptography
@using System.Text
@using SYNCWallet.Services.Implementation
@using System.Timers
 
@inject NavigationManager NavigationManager
@inject IJSRuntime JS


<img src="/logo.png" class="LogoMainBackground" />
<p id="submitTrigger" style="display:none" onclick="DataSubmitted">

</p>
<NavMenu NetworkAdded="ImportNetwork" TokenImported="ImportToken">

 </NavMenu>
 <style>
     .flexInnerRow{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
     }

     .dropdown-menu.show {
        display: block;
        position: absolute !important;
        left: 68% !important;
        top: 4% !important;
        background: #282931;
    }
 </style>
 

<div class="container">
    <div class="flexInnerRow">
        <p style="margin:auto;">
            @MauiProgram.PublicAddress
        </p>
        <div class="NetworkDropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-dark"   href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;font-weight: 400;">
                <i class="me-2 mdi mdi-access-point-network"></i>
                @if(SelectedNetwork != null)
                {
                    <span id="network">@SelectedNetwork.Name</span>
                }
            </a>
            <div id="dropdownNetworks" class="dropdown-menu dropdown-menu-end user-dd animated flipInY" style="left: 68%;top: 4%; position:absolute !important;"> 
                @if (Networks != null)
                {
                    @foreach (var network in Networks)
                    {
                        <a class="dropdown-item"  @onclick="(() => NetworkChanged(network))">
                            <i class="me-2 mdi mdi-access-point-network"></i>
                            @network.Name
                        </a>
                    }
         
                }
            </div>

            <button class="btn btn-outline-secondary" @onclick="OpenNetworkImport" type="button">
                <i class="fas fa-cog"></i>
                Network Settings
            </button>
 
        </div>
    </div>
    <!-- Row -->
    <div class="row" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-0">Balance History @TokenName</h6>
                        </div>
                    </div>


                    <div id="android-vs-ios" class=" border-top"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >

        <div class="row" style="margin:0;">

            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Row -->
                        <div class="row">
                            <div class="col-8">
                                <span class="display-6">
                                    @if(SelectedToken != null)
                                    {
                                        @Utilities.TruncateDecimals(SelectedContract.CurrentPrice)
                                         <span style="margin-left:5px;"> USD </span>
                                    }
                                    <i class="ti-angle-down fs-3 text-danger"></i>
                                </span>
                                <h6>Price</h6>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Row -->
                        <div class="row">
                            <div class="col-8">
                                <span class="display-6">
                                    @if (SelectedToken != null)
                                    {
                                        @SelectedContract.CirculatingSupply.ToString("#.##")
                                        <span style="margin-left:5px;"> @SelectedToken.Symbol </span>
                                    }
                                    <i class="ti-angle-up fs-3 text-success"></i>    
                                </span>
                                <h6>Circulating Supply</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Row -->
                        <div class="row">
                            <div class="col-8">
                                <span class="display-6">
                                    @if(SelectedToken != null)
                                    {
                                        @SelectedContract.MarketCap.ToString("C2")
                                    }                                
                                    <i class="ti-angle-up fs-3 text-success"></i>
                                </span>
                                <h6>Market Cap</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="margin:0;">
            <div class="col-md-12">
                <div class="card">
             
                 
                        <div class="card-body" style="height: 50vh;overflow: hidden;overflow-y: hidden;">

                            <div class="table-responsive" style="display:@MauiProgram.HideTokenList" id="TokenList">

                                <button class="btn btn-outline-secondary" @onclick="ToggleTokenImport" type="button">
                                    <i class="fas fa-cog"></i>
                                    Import Custom

                                </button>
                                <table class="table stylish-table v-middle mb-0 no-wrap">
                                    
                                    <thead>
                                
                                        <tr>
                                            <th class="border-0 text-muted fw-normal" colspan="2">SYMBOL</th>
                                            <th class="border-0 text-muted fw-normal">Amount</th>
                                            <th class="border-0 text-muted fw-normal">Price USDT</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @if(Tokens != null)
                                        {
                                            @foreach (var token in Tokens)
                                            {
                                                var contract = default(TokenContract);
                                                if (token.Contracts != null && token.Contracts.Count > 0)
                                                {
                                                    contract = token.Contracts.FirstOrDefault();
                                                }
                                                <tr @onclick="(() => SelectToken(contract, token))">
                                                    <td style="width:50px; text-align:left">
                                                        @if(string.IsNullOrEmpty(token.Logo))
                                                        {
                                                        <i class="mdi mdi-alert" style="font-size: 2rem;color: #f3bb2b;"></i>
                                                        }
                                                        else
                                                        {
                                                            <img style="width: 100%;border-radius: 50%" src="@token.Logo" />
                                                        }
                                                    </td>
                                                    <td style="text-align:left;">
                                                        <h6 class="font-weight-medium mb-0">@token.Name</h6>
                                                        <small class="text-muted">
                                                            @token.Symbol
                                                        </small>
                                                    </td>
                                                    @if (contract != null)
                                                    {
                                                        <td class="text-muted">
                                                            @Utilities.TruncateDecimals(contract.UserBalance)
                                                        </td>
                                                        <td class="text-muted">
                                                            @if (contract.Price == null)
                                                            {
                                                                @: "--"
                                                            }
                                                            else
                                                            {
                                                               @Utilities.TruncateDecimals(contract.Price)
                                                            }
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-muted">
                                                           --
                                                        </td>
                                                        <td class="text-muted">$ -- </td>
                                                    }

                                                </tr>


                                            }
                                        }
                                   
                                    
                                    </tbody>
                                </table>
                            </div>
                            @if (SelectedToken != null)
                            {
                                <div id="SendToken" style="display:@MauiProgram.HideTokenSend">
                                    <div class="row" style="    margin-top: 25px;">
                                    <a class="nav-link sidebartoggler waves-effect waves-light" @onclick="CancelSend" style="font-size: 25px;"><i class="icon-arrow-left-circle"></i> Return</a>
                                    </div>
                                    <div class="row" style="margin-top: 30px;margin-top: 30px;
                                                                            display: flex;
                                                                            flex-direction: row;
                                                                            justify-content: center;">
                                        
                                    </div>
                                    <div  class="flexInnerRow">
                                        <h2 style="text-align:center">
                                            @SelectedToken.Name
                                        </h2>
                                        
                                    </div>
                                    <div class="flexInnerRow">

                                        <p style="width: 602px;">
                                            @if(!string.IsNullOrEmpty(SelectedToken.Description))
                                            {
                                                @SelectedToken.Description
                                            }
                                            else
                                            {
                                                @: This token, is not officially listed on the vetted token list, trading and transfering it may cause substancial damage to your entire portfolio!
                                            }
                                        </p>
                                    </div>
                                    <div class="flexInnerRow">
                                            <div style="display: flex;flex-direction: row;width: 510px;justify-content: space-evenly;">
                                                <button class="btn btn-linkedin waves-effect btn-circle waves-light" type="button">
                                                    <i class="fab fa-telegram"></i>
                                                </button>
                                                <button class="btn btn-linkedin waves-effect btn-circle waves-light" type="button">
                                                    <i class="mdi mdi-web"></i>
                                                </button>
                                                <button class="btn btn-linkedin waves-effect btn-circle waves-light" type="button">
                                                    <i class="mdi mdi-medium"></i>
                                                </button>
                                                <button class="btn btn-linkedin waves-effect btn-circle waves-light" type="button">
                                                    <i class="mdi mdi-discord"></i>
                                                </button>
                                                <button class="btn btn-linkedin waves-effect btn-circle waves-light" type="button">
                                                    <i class="mdi mdi-reddit"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="flexInnerRow">
                                            <div class="form-floating distanceTop" style="    width: 600px;">
                                        <input @bind-value="ReceiverAddress" class="form-control inputStyle">
                                                <label>
                                                    <i class="me-2 icon-wallet"></i>
                                                    <span class="border-start border-danger ps-3 ">Wallet Address</span>
                                                </label>

                                            </div>
                                        </div>
                                        <div class="flexInnerRow">
                                            <div class="form-floating distanceTop form-group" style="    width: 600px;     display: flex;">
                                            <input @bind-value="TokensToSend" type="text" class="form-control inputStyle" placeholder="test">
                                                <button @onclick="SetMaxAmount" class="btn btn-outline-secondary" type="button">MAX</button>
                    
                                                <label  >
                                                    <i class="me-2 mdi mdi-lock"></i>
                                                    <span class="border-start border-danger ps-3 ">Amount</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 30px;margin-top: 30px;
                                                                        display: flex;
                                                                        flex-direction: row;
                                                                        justify-content: center;">
                                            <button style="width: 300px;" @onclick="SendToken" type="button" class="btn waves-effect waves-light btn-rounded btn-info">
                                                <i class="icon-wallet"></i>
                                                Send
                                            </button>
                                        </div>
                            
                                </div>
                            }
                            <div style="display:@MauiProgram.ShowPinPanel">
                                <div class="row" style="width: 100%;display: flex;justify-content: center;align-items: center; padding:0; margin:0;">
                                    <div class="col-md-4 col-sm-12 " style="    min-width: 500px;">
                                        <div class="row" style="display: flex;flex-direction: row;align-items: center;justify-content: center;">
                                            <img src="/logo.png" style="width: 250px;height: 200px;" alt="homepage" class="light-logo" />

                                        </div>
                                        <div class="row" style="margin-top: 50px;">
                                            <div class="card" style="padding: 0;overflow: hidden;">
                                                <div class="card-header bg-light">
                                                    <h4 class="mb-0 text-white" style="text-align:center">Login</h4>
                                                </div>
                                                <div class="card-body">
                 
                                                    <div class="form-floating distanceTop">
                                                        <input id="LPassword" @bind-value="Password" type="password" class="form-control inputStyle" placeholder="Test Password"  >
                                                        <label>
                                                            <i class="me-2 mdi mdi-lock"></i>
                                                            <span class="border-start border-danger ps-3 ">Password</span>
                                                        </label>
                                                    </div>

                                                    <div class="row" style="margin-top: 30px;margin-top: 30px;
                                                        display: flex;
                                                        flex-direction: row;
                                                        justify-content: center;">
                                                        <button @onclick="EnterPin" style="width: 300px;" type="button" class="btn waves-effect waves-light btn-rounded btn-info">
                                                            <i class="icon-wallet"></i>
                                                            Unlock
                                                        </button>
                                                    </div>
                         
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="display:@MauiProgram.ShowLoader">
                                <div class="spinner-border text-danger" role="status">
                                    <span class="sr-only">Sending transaction please wait</span>
                                </div>
                            </div>

                        <div style="display:@MauiProgram.Receipt;flex-direction: column;align-content: space-around;flex-wrap: wrap;height: 100%;justify-content: center;">
                                @if(Receipt != null && SelectedToken != null)
                                {
                                    <div class="row">
                                        <p>
                                            From: <span>@Receipt.From</span>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p>
                                            To: <span>@Receipt.To</span>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p>
                                            At: <span>@Receipt.Timestamp.ToShortDateString() @Receipt.Timestamp.ToShortTimeString()</span>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p>
                                            Hash: <span>@Receipt.TransactionHash</span>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p>
                                            Sent Amount: <span>@TokensToSend @SelectedToken.Symbol</span>
                                        </p>
                                    </div>
                                    <div class="row" style="margin-top: 30px;margin-top: 30px;
                                                            display: flex;
                                                            flex-direction: row;
                                                            justify-content: center;">
                                        <button @onclick="CloseReceipt" style="width: 300px;" type="button" class="btn waves-effect waves-light btn-rounded btn-info">
                                            <i class="icon-wallet"></i>
                                            Ok
                                        </button>
                                    </div>
                                }
                                   
                              
                            </div>
                        </div>
                  
                </div>
            </div>
        </div>


    </div>

</div>



@code {

    public string TokenName { get; set; }
    private bool IsChartRendered { get; set; }
    AuthenicationHandler Authenication { get; set; }
    List<Token> Tokens { get; set; }
    private List<NetworkSettings> Networks { get; set; }
    public string WalletAddress { get; set; }


    public NetworkSettings SelectedNetwork { get; set; }
    public Token SelectedToken{ get; set; }
    public TokenContract SelectedContract { get; set; }

    private decimal TokensToSend { get; set; }
    private string ReceiverAddress { get; set; }

    private string Password { get; set; }

    TransactionResult Receipt { get; set; }
    System.Timers.Timer BalanceCheck { get; set; }
    DateTime NextCheck { get; set; }


    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!IsChartRendered)
        {
            Task.Run(() => JS.InvokeAsync<string>("RenderChart"));

            Task.Run(() => JS.InvokeAsync<string>("requestMedia"));
            IsChartRendered = !IsChartRendered;
        }

        return base.OnAfterRenderAsync(firstRender);
    }
    protected override async Task OnInitializedAsync()
    {
        NextCheck = NextCheck.AddMinutes(1);
        MauiProgram.HideTokenList = "";
        MauiProgram.HideTokenSend = "none";
        MauiProgram.ShowPinPanel = "none";
        MauiProgram.ShowLoader = "none";
        MauiProgram.Receipt = "none";


        BalanceCheck = new System.Timers.Timer();
        BalanceCheck= new System.Timers.Timer();
        BalanceCheck.Elapsed += new ElapsedEventHandler(OnBalanceUpdate);
        BalanceCheck.Interval = 5000;
        BalanceCheck.Start();


        TokenName = "SYNC";
        Authenication = new AuthenicationHandler();

        //Load Network Settings
        var utils = new Utilities();
        MauiProgram.NetworkSettings = await utils.SetupNetworks();
        Networks = MauiProgram.NetworkSettings.Where(x=> x.IsProduction == MauiProgram.IsDevelopment).ToList();
        SelectedNetwork = Networks.FirstOrDefault();
        MauiProgram.ActiveNetwork = SelectedNetwork;
        WalletAddress = Authenication.GetDefault();
        Tokens = await Authenication.GetSupportedTokens(SelectedNetwork.Id); //Get All tokens and their balance

    }

    private void NetworkChanged(NetworkSettings network)
    {
        InvokeAsync(() =>{
            SelectedNetwork = network;
            MauiProgram.ActiveNetwork = SelectedNetwork;
            DefaultToToken();
            StateHasChanged();
        });
    }


    private async void DefaultToToken()
    {
        await  InvokeAsync( async () =>
        {
            Tokens = await Authenication.GetSupportedTokens(SelectedNetwork.Id); //Get All tokens and their balance
            StateHasChanged();
        });


    }

    private void SelectToken(TokenContract contract, Token token)
    {
        InvokeAsync(() =>
        {
            SelectedToken = token;
            SelectedContract = contract;
            MauiProgram.SelectedContract = contract;
            MauiProgram.Receipt = "none";
            MauiProgram.HideTokenList = "none";
            MauiProgram.ShowPinPanel = "none";
            MauiProgram.ShowLoader = "none";
            MauiProgram.HideTokenSend = "";

            StateHasChanged();
        });
    }

    private void SetMaxAmount()
    {

    }

    private void CancelSend()
    {
        InvokeAsync(() =>
        {
            MauiProgram.HideTokenList = "";
            MauiProgram.HideTokenSend = "none";
            MauiProgram.ShowPinPanel = "none";
            MauiProgram.ShowLoader = "none";
            MauiProgram.Receipt = "none";


            StateHasChanged();
        });
    }

    private async void ToggleTokenImport()
    {


        await JS.InvokeVoidAsync("ImportTokens");
    }

    private async void OpenNetworkImport()
    {
        await JS.InvokeVoidAsync("ImportNewNetwork");
    }

    public async Task ImportNetwork()
    {


        await InvokeAsync(async () =>
        {
            var utils = new Utilities();
            MauiProgram.NetworkSettings = await utils.SetupNetworks();
            Networks = MauiProgram.NetworkSettings.Where(x => x.IsProduction == MauiProgram.IsDevelopment).ToList();
            StateHasChanged();

        });


    }

    public async Task ImportToken()
    {
        await InvokeAsync(async () =>
        {
            Tokens = await Authenication.GetSupportedTokens(SelectedNetwork.Id); //Get All tokens and their balance
            StateHasChanged();
        });
    }


    private void SendToken()
    {
        InvokeAsync(() =>
        {
            MauiProgram.Receipt = "none";
            MauiProgram.HideTokenList = "none";
            MauiProgram.HideTokenSend = "none";
            MauiProgram.ShowLoader = "none";
            MauiProgram.ShowPinPanel = "";
            StateHasChanged();

        });
    }

    private async void EnterPin()
    {
        var hardwareService = new HardwareService();
        var passwrod = hardwareService.Encrypt(Password, "iV1z@$H8");
        MauiProgram.KeepPrivateSingle = true;
        MauiProgram.Amount = TokensToSend;
        MauiProgram.ReceiverAddress = ReceiverAddress;

        MauiProgram.WriteState(JsonConvert.SerializeObject(new HardwareWallet
        {
            Cmd = "Login",
            Password = passwrod,
            PrivateKey = "+"
        }));

        MauiProgram.Pass = Password;


        MauiProgram.TransactionTimer = new System.Timers.Timer();
        MauiProgram.TransactionTimer.Elapsed += new ElapsedEventHandler(OnTimedEvent);
        MauiProgram.TransactionTimer.Interval = 5000;
        MauiProgram.TransactionTimer.Start();

    }

    // Specify what you want to happen when the Elapsed event is raised.
    private async void OnTimedEvent(object source, ElapsedEventArgs e)
    {
        if (!string.IsNullOrEmpty(MauiProgram.PK))
        {
            MauiProgram.TransactionTimer.Stop();
            MauiProgram.TransactionTimer.Dispose();

            await InvokeAsync(() =>
            {
                MauiProgram.ShowLoader = "";
                MauiProgram.HideTokenList = "none";
                MauiProgram.HideTokenSend = "none";
                MauiProgram.ShowPinPanel = "none";
                MauiProgram.Receipt = "none";

                StateHasChanged();

            });

            var paymentService = new PaymentService();
            var result = await paymentService.BeginTransaction();

            if (result != null)
            {
                await InvokeAsync(() =>
                {
                    MauiProgram.ShowLoader = "none";
                    MauiProgram.HideTokenList = "none";
                    MauiProgram.HideTokenSend = "none";
                    MauiProgram.ShowPinPanel = "none";
                    MauiProgram.Receipt = "flex";
                    Receipt = result;
                    StateHasChanged();

                });
            }
        }


    }

    private void OnBalanceUpdate(object source, ElapsedEventArgs e)
    {

        if(DateTime.UtcNow > NextCheck)
            DefaultToToken();
    }


    private async void CloseReceipt()
    {
        await InvokeAsync(() =>
        {
            MauiProgram.ShowLoader = "none";
            MauiProgram.HideTokenList = "";
            MauiProgram.HideTokenSend = "none";
            MauiProgram.ShowPinPanel = "none";
            MauiProgram.Receipt = "none";
            SelectedContract.UserBalance -= TokensToSend;
            StateHasChanged();

        });
    }
}  