@using LInksync_Cold_Storage_Wallet.Services.Implementation
@namespace SYNCWallet.Components.Navigation


 
<div class="row">
    <div class="col-lg-12" >
        <div class="card CardFluent">
            <div class="card-header TokenTimeline">
                <div class="PromotedAssetContainer">
                    <div class="Promoteditem">
                        <img src="https://linksync.tech/assets/PNG/Letermark_Color.png" class="PLogoSize"/>
                        <span>Token</span>
                        <span>Price</span>
                    </div>
                    <div class="Promoteditem">
                        <img src="https://linksync.tech/assets/PNG/Letermark_Color.png" class="PLogoSize"/>
                        <span>Token</span>
                        <span>Price</span>
                    </div>
                    <div class="Promoteditem">
                        <img src="https://linksync.tech/assets/PNG/Letermark_Color.png" class="PLogoSize"/>
                        <span>Token</span>
                        <span>Price</span>
                    </div>
                    <div class="Promoteditem">
                        <img src="https://linksync.tech/assets/PNG/Letermark_Color.png" class="PLogoSize"/>
                        <span>Token</span>
                        <span>Price</span>
                    </div>
                    <div class="Promoteditem">
                        <img src="https://linksync.tech/assets/PNG/Letermark_Color.png" class="PLogoSize"/>
                        <span>Token</span>
                        <span>Price</span>
                    </div>
                    <div class="Promoteditem">
                        <img src="https://linksync.tech/assets/PNG/Letermark_Color.png" class="PLogoSize"/>
                        <span>Token</span>
                        <span>Price</span>
                    </div>
                    <div class="Promoteditem">
                        <img src="https://linksync.tech/assets/PNG/Letermark_Color.png" class="PLogoSize"/>
                        <span>Token</span>
                        <span>Price</span>
                    </div>
                    
                </div>
            </div>
            <div class="card-body">
                <div class="row" style="display: flex;justify-content: center;">
                    <img class="TokenLogo" src="@CurrentToken.Logo"/>
                </div>
                <div class="row">
                    <select class="select2 form-control custom-select" style="width: 100%; height:36px;">
                        <option>@CurrentToken.Name</option>
                        
                          @foreach (var ntGroup in @ListedTokens)
                          {
                              if (ntGroup != null)
                              {
                                  <optgroup label="@ntGroup.Network.Name">
                                      @if (ntGroup.Tokens != null)
                                      {
                                          @foreach (var token in ntGroup.Tokens)
                                          {
                                              <option value="@token.Name" @onclick="() => TokenSelected(token)">
                                                  <div>
                                                      <span>
                                                          @token.Name (@token.Symbol)
                                                      </span>
                                                  </div>
                                              </option>
                                          }
                                      }
                                  </optgroup>
                              }
                          
                              
                          }
                   
                        
                    </select>
                </div>

            </div>
        </div>
    </div>
</div>